[graph]
targets = []
all-features = true

[licenses]
allow = [
    "MIT"
]
confidence-threshold = 0.8

[advisories]
version = 2
db-path = "~/.cargo/advisory-db"
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "allow"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
